//Colours
$grey: #333333;

//Navigation Colours
$navigation-background: $grey;
$navigation-text-colour: white;


//Clock
$clock-text-colour: white;
$clock-bg-colour:#b5d0e2;
$clock-border-colour:#2099e8;
