.top-bar, .top-bar ul {
  background-color: $navigation-background;
}

.top-bar {
  .menu-text {
    color: $navigation-text-colour;
  }

  .menu > .menu-text > a {
    display: inline;
    padding:0;
  }
}
